<a href="https://colab.research.google.com/github/yves-moringa/IPWK4/blob/main/Data_Science_Prep_W4_Independent_Project_2022_04_Yves_Havugimana_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Loading pandas and numpy packages to our python collab

import pandas as pd

import numpy as np

In [ ]:
# Loading data to our collab using pandas .read_csv

data = pd.read_csv('http://bit.ly/autolib_dataset')

In [ ]:
# Previewing the data

data.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# previewing dataset

data.describe

<bound method NDFrame.describe of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [ ]:
# A look at the columns

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
# Dropping columns 'Displayed comment' and 'Scheduled at' due to missing values

data.drop(['Displayed comment','Scheduled at'], axis = 1, inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Geo point            5000 non-null   object
 11  Postal code          5000 non-null   int64
 12  Public name          5000 non-null   object
 13  Rental status        5000 non-null   object
 14  Slots                5000 non-null   int64
 15  Station type         5000 non-null   object
 16  Status               5000 non-null   object
 17  Subscription status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
dtypes: int64(12), object(11)
memory usage: 898.6+ KB

In [ ]:
# From documentation, Dalberg identifies the column 'Cars' as identical to column 'Bluecar counter'.
# We drop the column 'Car'.

data.drop('Cars', axis = 1, inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   ID                   5000 non-null   object
 8   Kind                 5000 non-null   object
 9   Geo point            5000 non-null   object
 10  Postal code          5000 non-null   int64
 11  Public name          5000 non-null   object
 12  Rental status        5000 non-null   object
 13  Slots                5000 non-null   int64
 14  Station type         5000 non-null   object
 15  Status               5000 non-null   object
 16  Subscription status  5000 non-null   object
 17  year                 5000 non-null   int64
 18  month                5000 non-null   int64
 19  day                  5000 non-null   int64
 20  hour                 5000 non-null   int64
 21  minute               5000 non-null   int64
dtypes: int64(11), object(11)
memory usage: 859.5+ KB

In [ ]:
# Previewing our dataset after removing unecessary columns

data.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 22 columns]

In [ ]:
# Finding duplicate rows

data.duplicated().sum()

0

In [ ]:
# Unique values in numeric columns

data[data['City']=="Paris"].value_counts(['Bluecar counter', 'hour'])

Bluecar counter  hour
0                2       54
                 3       52
                 21      52
                 16      50
                 8       49
                         ..
6                23       2
                 16       1
                 5        1
7                3        1
                 17       1
Length: 170, dtype: int64

In [ ]:
data.columns

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'Charge Slots', 'Charging Status', 'City', 'ID', 'Kind', 'Geo point',
       'Postal code', 'Public name', 'Rental status', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')